<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" href="style/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="style/css/bootstrap-theme.css" type="text/css" />
	<link rel="stylesheet" href="style/css/bootstrap-theme.min.css" type="text/css" />
	<link rel="stylesheet" href="style/css/index.css" type="text/css" />
	<script type="text/javascript" src="style/js/jquery.js"></script>
	<!-- <script type="text/javascript" src="style/js/npm.js"></script> -->
	<script type="text/javascript" src="style/js/bootstrap.js"></script>
	<script type="text/javascript" src="style/js/bootstrap-dropdown.js"></script>
	<title>書驛</title>
</head>
<body>
	<div class="header">
		<div class="top">
			<div class="top-title">書驛</div>
		</div>
		<div class="nav-all">
			<div class="nav-left">
				<ul class="nav nav-pills">
					<li role="presentation" class="active"><a href="<?php echo site_url('?c=index_index&m=index') ?>">首页</a></li>
					<li role="presentation" class=""><a href="<?php echo site_url('?c=index_share&m=share_index') ?>">话题分享</a></li>
					<li role="presentation" class=""><a href="<?php echo site_url('?c=index_index&m=index') ?>">书籍资源</a></li>
					<li role="presentation" class=""><a href="<?php echo site_url('?c=index_index&m=index') ?>">爱心捐赠</a></li>
<!-- 					<li role="presentation" class="dropdown">
	    			<a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">分享心得<span class="caret"></span></a>
	    				<ul class="dropdown-menu">
	    					<li><a href="<?php echo site_url('?c=index_share&m=share_index') ?>">图书话题列表</a></li>
	    					<li><a href="<?php echo site_url('?c=index_index&m=index') ?>">最新评论话题</a></li>
						</ul>
					</li>
 -->					
				</ul>
			</div>
			<div class="nav-right">
				<ul class="nav nav-pills">
					<li role="presentation" class="dropdown">
	    			<a class="dropdown-toggle" data-toggle="dropdown" href="<?php echo site_url('?c=index_index&m=index') ?>" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>我的<span class="caret"></span></a>
	    				<ul class="dropdown-menu">
	    					<li><a href="<?php echo site_url('?c=index_index&m=index') ?>">我的分享</a></li>
	    					<li><a href="<?php echo site_url('?c=index_index&m=index') ?>">我的评论</a></li>
	    					<li><a href="<?php echo site_url('?c=index_index&m=index') ?>">我的资源</a></li>
	    					<li><a href="<?php echo site_url('?c=index_index&m=index') ?>">我的资料</a></li>
	    					<li><a href="<?php echo site_url('?c=index_index&m=index') ?>">编辑资料</a></li>
						</ul>
					</li>
					
					<li role="presentation"><a href="#"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>退出</a></li>
				</ul>
			</div>
		</div>
		<div class="nav-line"></div>  
	</div>