<?php $this->load->view('common/header.html') ?>
<?php $this->load->view('common/notice.html') ?>
<div class="body">
	<?php $this->load->view('common/body_top.html') ?>
	<div class="body-main">
		<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>书名</th>
				<th>作者</th>
				<th>发起时间</th>
				<th>发起时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tr>
			<td>qwe</td>
			<td>qwe</td>
			<td>qwe</td>
			<td>qwe</td>
			<td class="deal-button">
				<div class="btn-group">
				  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">操作<span class="caret"></span>
				  	</button>
					<ul class="dropdown-menu">
					  <li><a href="#">详情</a></li>
					  <li><a href="#">编辑</a></li>
					  <li><a href="#">删除</a></li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td>ryert</td>
			<td>ert</td>
			<td>ert</td>
			<td>ert</td>
			<td>ert</td>
		</tr>
		</table>
	</div>
</div>